Django
docutils
httplib2
pyyaml
django-hoptoad
-e git://github.com/hudora/django-googleappsauth.git#egg=googleappsauth
-e git+ssh://git@github.com/hudora/CentralServices#egg=cs
-e git+ssh://git@github.com/hudora/huSoftM#egg=huSoftM
-e hg+http://bitbucket.org/jespern/django-piston/#egg=django-piston
