{% extends "sanctions/base.html" %}
{% load sanctions %}

{% block content %}
<div id="emb_content">
    <div id="results">
        <div id="object{{ object.id }}">
            <h1><a href="{{ object.get_absolute_url }}">Sanktionslisteneintrag {{ object.id }}/{{ object.legal_basis }}</a></div>
            Anmerkung: {{ object.remark }}<br/>
            {% with object.name_set.all as names %}
            {% if names %}
            <b>Name{{ names|pluralize }}</b>:
            <ul>
                {% for name in object.name_set.all %}
                    <li>{% ifequal name.gender "M" %}&#9794;{% endifequal %}
                        {% ifequal name.gender "F" %}&#9792;{% endifequal %}
                        {{ name|labelled:"lastname" }}
                        {{ name|labelled:"firstname" }}
                        {{ name|labelled:"middlename" }}
                        {{ name|labelled:"wholename" }}
                        {{ name|labelled:"function" }}
                        {{ name|labelled:"language" }}
                    </li>
                {% endfor %}
            </ul>{% endif %}{% endwith %}
            {% with object.address_set.all as addresses %}
            {% if addresses %}<b>Address{{ addresses|pluralize:"es" }}</b>:
            <ul>
                {% for address in addresses %}
                    <li>{{ address|labelled:"number" }}
                        {{ address|labelled:"street" }}
                        {{ address|labelled:"zipcode" }}
                        {{ address|labelled:"city" }}
                        {{ address|labelled:"country" }}
                        {{ address|labelled:"other" }}
                    </li>
                {% endfor %}
            </ul>{% endif %}{% endwith %}
            {% with object.birth_set.all as births %}
            {% if births %}<b>Birth{{ births|pluralize }}</b>:
            <ul>
                {% for birth in births %}
                    <li>{{ birth|labelled:"date" }}
                        {{ birth|labelled:"place" }}
                        {{ birth|labelled:"country" }}
                    </li>
                {% endfor %}
            </ul>{% endif %}{% endwith %}
            {% with object.passport_set.all as passports %}
            {% if passports %}<b>Passport{{ passports|pluralize }}</b>:
            <ul>
                {% for passport in passports %}
                    <li>{{ passport|labelled:"number" }}
                        {{ passport|labelled:"country" }}
                    </li>
                {% endfor %}
            </ul>{% endif %}{% endwith %}
            {% with object.citizen_set.all as citizens %}
            {% if citizens %}<b>citizen{{ citizens|pluralize }}</b>:
            <ul>
                {% for citizen in citizens %}
                    <li>{{ citizen|labelled:"country" }}
                    </li>
                {% endfor %}
            </ul>{% endif %}{% endwith %}
            Rechtsgrundlage: 
            {% if object.pdf_link %}<a href="{{ object.pdf_link }}">
            {% endif %}{{ object.legal_basis }}{% if object.pdf_link %}</a>{% endif %}
            / aktualisiert am {{ object.reg_date }}<br/>
        </div>
    </div>
</div>
{% endblock %}