{% extends "sanctions/base.html" %}
{% load sanctions %}

{% block content %}
    <h3>Ihre Kontakte und Sanktionslisten</h3>
    
    <p>
        Die Europäische Union hat mit zwei Verordnungen die Rolution des UN-Sicherheitsrates
        (<a href='http://de.wikipedia.org/wiki/Resolution_1373_des_UN-Sicherheitsrates'>1373/2001</a>)
        zur Bekämpfung von Terroristen umgesetzt. Diese Verordnungen
        (<a href='http://eur-lex.europa.eu/LexUriServ/LexUriServ.do?uri=CELEX:32001R2580:DE:NOT'>2580/2001</a>
        und <a href='http://eur-lex.europa.eu/LexUriServ/LexUriServ.do?uri=CELEX:32002R0881:DE:HTML'>881/2002</a>)
        verbieten es, den Personen und Organisationen auf bestimmten "Anti-Terrorlisten" 
        irgendwelche Vermögenswerte oder Finanzdienstleistungen bereitzustellen.
        <span class="textmrker">Adressaten dieser Regelung sind <em>alle</em> am Wirtschaftsleben
            beteiligten Personen und Unternehmen.</span>
    </p>
    
    <p>
        Damit sind nicht mehr nur Geschäfte mir unter Embargo gestellten Länder
        verboten, sondern auch Geschäftskontakte zu einzelnen, in den Sanktionslisten
        aufgeführten Personen und Organisationen unter Strafe gestellt.<br/>
        Die Verordnungen verpflichteten alle Wirtschaftsbeteiligten zu
        Maßnahmen, um verbotene Geschäftskontakte zu erkennen und zu verhindern.
        Während dies bei Länderembargos relativ einfach war, dies einzuhalten
        ("Keine Geschäfte mit Absurdistan") müssen heute grundsätzlich alle Namen
        überprüft werden.
    </p>
    
    <p>
        Das Bundeswirtschaftsministerium und das Auswärtige Amt sehen <span class="textmarker">jede
        Warenlieferung oder Dienstleistung - auch im Inland -
        von den EG-Verordnungen erfasst</span> an.
    </p>
    
    <h3>Strafen bis zu einer halben Million Euro</h3>
    
    <p>
        Laut eines Erlasses des Bundesministeriums der Finanzen,
        ist bei Außenwirtschaftsprüfungen in Unternehmen die Einhaltung
        der beiden EU-Verordnungen zu verrifizeren.
    </p>
    
    <p>
        Nach § 34 Abs. 4 und 7 des
        <a hre="http://www.gesetze-im-internet.de/awg/index.html">Aussenwirtschaftsgesetzes AWG</a>
        sind alle Geschäfte mit sanktionierten Personen und Institutionen strafbar.
        Der Strafrahmen beginnt bei Geldbussen geht über den Einzug von Vermögenswerten und
        endet mit Freiheitsentzug.
    </p>

    <p>Für die Unternehmensleitung drohen Geldbußen gegen Unternehmensverantwortliche
        nach § 130 OWiG.
        <span class="textmarker">Dazu kommt eine Haftung der Unternehmensleitung selbst nach 
        §§ 13, 14 Abs.2 StGB</span>.
    </p>
    <p>
        Aber auch gegen das Unternehmen als solches
        kommen straf- und  ordnungsrechtliche Mittel in betracht, wie
        der <span class="textmarker">Verfalls des Bruttoerlöses</span> nach § 73 Abs.3 StGB
        bzw. <span class="textmarker">Einziehung von Gegenständen</span> nach § 36 Abs.1 AWG,
        sowie die Verhängung von <span class="textmarker">Geldbußen bis zu 500.000 €</span> gegen das
        Unternehmen als solches (§ 30 OWiG).
    </p>
    
    <p>
        Die Behörden prüfen inzwischen nicht mehr nur dsa nichtvorliegen verbotener
        Geschuaftsbeziehungen, sondern es wird <span class="textmarker">das vorhandensein
        organisatorischer Massnahmen, die verbotene Geschäfte verhindern, überprüft.</span>
        Schon beim Unterlassen entsprechender organisatorischer Maßnahmen, sind Sie bei einer
        Prüfung in Teufels Küche.
        </p>
    
    <h3>Organisatiorische Massnahmen</h3>
    
    <p>Nun ist ganz offensichtlich, dass von einem Unternehmen nicht verlangt werden kann, über jeden
       Geschäftspartner Hintergrundinformationen einzuziehen. Das würde auch gegen die Grundrechte
       der betroffenen Verstossen.</p>
    
    <p>In der PRaxis wird von den Behörden gefordert, dass Unternehmen
       <span class="textmarker">vier mal jährlich ihre
       Geschäuftskontakte einer Überprüfung unterzuehen</span>.<br/>
       Zur Überprüfung wird es als hinreichend erchtet, die Namen der Geschäuftskontakte
       mit den Namen auf den Sanktionslisten abzugleichen.</p>
        
    <p>Andere verlangen, dass jede Lieferung daraufhin untersucht werden muss, ob der
    Empfänger eine Namensidentität zu einer in den Listen genannten Personen aufweist.
    Wir denken aber, das ist unverhältnismässig und kann von Unternehmen nciht verlangt werden.</p>
    
{% endblock %}