{% extends "sanctions/base.html" %}
{% load sanctions %}

{% block content %}
    <h2>Das Problem</h2>
    
    <p>Alle europäischen Unternehmen es ist nach den EU-Verordnungen
    <a href='http://eur-lex.europa.eu/LexUriServ/LexUriServ.do?uri=CELEX:32001R2580:DE:NOT'>2580/2001</a>
    und <a href='http://eur-lex.europa.eu/LexUriServ/LexUriServ.do?uri=CELEX:32002R0881:DE:HTML'>881/2002</a>
    verboten mit bestimmten Organisationen und Personen Geschäfte zu machen.</p>

    <p>§ 34 Abs. 4 und 7 des Aussenwirtschaftsgesetz bedroken entspechende Geschäfte mit erheblichen Strafen.</p>
    
    <p>Zoll und Finanzbhörden Prüfen nicht nur, ob entsprechende Geschåuftskontakte vorliegen, sondern
        auch, ob entsprechende Prozesse zur Verhinderung entsprechender Geschåte existieren.</p>
        
    <h2>Erhebliche Mehrbelastung</h2>
    
    <p>Vom Zoll wird inzwischen verlangt, dass mindestens vier mal im Jahr alle Geschaftskontakte anhand der
       Embargoliste überprüft werden. Geschftskontakte sind hierbei Kunden, Lieferanten, Dienstleister
       und Mitarbeiter.</p>
       
    <p>Neben der Prüfung wird auch eine Umfangreiche Dokumentation über den Prüfvorgang verlangt.
       Eine Gesetzesgrundlage für diese Froderungen ist uns nicht bekannt, aber was tut man nicht
       alles für sein Zollamt?</p>
    
    <h2>Unsere Lösung</h2>
    
    <p>Da uns alle Angebote für Software zum Abgleich mit Sanktionslisten zu komplex oder zu teuer oder
        unseriös oder wie eine Kombination aus allen dreien erschien, haben wir (die Hudora GmbH)
        beschlossen, eine eiegne Software zum Abgleich mit Sanktionslisten zu entwickeln.</p>
        
    <p>Sie können unsere Software kostenfrei nutzen, um einzelne Namen oder ganze Namenslisten zu
        überprüfen. In Zukunft werden wir zusätzliche Dokumentationsfunktionalität einbinden.</p>
        
{% endblock %}

{% block right %}
    <h2>So geht's'</h2>
    
    <p>Sie können einfach direkt den Namen eines Geschäftspartners oder
        einer Organisation eingeben und bekommen direkt ein Prüfungsergebnis zurück.
    </p>
    
    Name: (z.B. "Robert Mugabe")<br/>
    <form method="GET" action="/search/">
        <input name="name"><br/>
        <input type="submit" value="testen!">
    </form>
{% endblock %}
