{% load sanctions %}
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="de">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Embargoliste - Detailansicht</title>
<link rel="stylesheet" href="/media/emb_styles.css" type="text/css" media="screen">
</head>
<body>
	<div id="emb_container">
<div id="emb_header">
		<img src="../media/kopf.jpg" width="950" height="120" alt="Kopf">
		<a href='/why/'>Hintergrund</a> | <a href='/search/'>Suche</a>
</div>
<div id="emb_right">
</div>
<div id="emb_content">
	Hier haben Sie die Möglichkeit weitere Namen und Bezeichnungen zu prüfen. Geben Sie einzelne Namen oder aber eine Liste von Namen ein (Pro Zeile ein Eintrag). Alternativ können Sie auch eine .txt Datei hochladen, in der ebenfalls pro Zeile ein Name steht. Ein ausführliches Ergebnis Ihrer Anfrage erhalten Sie umgehend nach der Prüfung.<br><br>
	
	{% if version %}Aktuelle Liste zuletzt am {{ version.download_time|date:"d.m.Y H:i" }} geladen. (Versionsdatum: {{ version.version_date|date:"d.m.Y" }}).<br>
        <div id='emb_subinfo'>(Derzeit {{ number_of_entries }} Einträge in der Embargoliste.)</div>
        {% else %}No data downloaded yet.{% endif %}
        
    {% if version %}

    <h2>Suche</h2>
    <div id="search_form">
        <form method="GET" action="." enctype="multipart/form-data">
            <table id='emb_formular'>
            {{ form.as_table }}
            </table>
            <input type="submit" value='Daten abgleichen'>
        </form>
    </div>
    {% endif %}

   {% if results %}
    <div id="results">
        <h2>Ergebnis: {{ names|length }} Name{{ names|pluralize:"n" }} überprüft.<br>
            {{ results|length }} Treffer.</h2>
        <ul>
        {% for entity in results %}
        <li>
            Rechtsgrundlage: 
            {% if entity.pdf_link %}<a href="{{ entity.pdf_link }}">

            {% endif %}{{ entity.legal_basis }}{% if entity.pdf_link %}</a>{% endif %}
            / seit {{ entity.reg_date }}<br/>
            Anmerkung: {{ entity.remark }}<br/>
            {% with entity.name_set.all as names %}
            {% if names %}
            <b>Name{{ names|pluralize }}</b>:
            <ul>
            {% for name in entity.name_set.all %}
                <li>{% ifequal name.gender "M" %}&#9794;{% endifequal %}
                    {% ifequal name.gender "F" %}&#9792;{% endifequal %}
                    {{ name|labelled:"lastname" }}
                    {{ name|labelled:"firstname" }}
                    {{ name|labelled:"middlename" }}
                    {{ name|labelled:"wholename" }}
                    {{ name|labelled:"function" }}
                    {{ name|labelled:"language" }}
                </li>
            {% endfor %}
            </ul>{% endif %}{% endwith %}
            {% with entity.address_set.all as addresses %}
            {% if addresses %}<b>Address{{ addresses|pluralize:"es" }}</b>:
            <ul>
            {% for address in addresses %}
                <li>{{ address|labelled:"number" }}
                    {{ address|labelled:"street" }}
                    {{ address|labelled:"zipcode" }}
                    {{ address|labelled:"city" }}
                    {{ address|labelled:"country" }}
                    {{ address|labelled:"other" }}
                </li>
            {% endfor %}
            </ul>{% endif %}{% endwith %}
            {% with entity.birth_set.all as births %}
            {% if births %}<b>Birth{{ births|pluralize }}</b>:
            <ul>
            {% for birth in births %}
                <li>{{ birth|labelled:"date" }}
                    {{ birth|labelled:"place" }}
                    {{ birth|labelled:"country" }}
                </li>
            {% endfor %}
            </ul>{% endif %}{% endwith %}
            {% with entity.passport_set.all as passports %}
            {% if passports %}<b>Passport{{ passports|pluralize }}</b>:
            <ul>
            {% for passport in passports %}
                <li>{{ passport|labelled:"number" }}
                    {{ passport|labelled:"country" }}
                </li>
            {% endfor %}
            </ul>{% endif %}{% endwith %}
            {% with entity.citizen_set.all as citizens %}
            {% if citizens %}<b>citizen{{ citizens|pluralize }}</b>:
            <ul>
            {% for citizen in citizens %}
                <li>{{ citizen|labelled:"country" }}
                </li>
            {% endfor %}
            </ul>{% endif %}{% endwith %}

            </li>
			<br>
        {% endfor %}
    </div>
    {% else %}
        {% if names %}
        <h2>Zu Ihren Angaben wurden keine Einträge gefunden.</h2>
        {% endif %}
    {% endif %}
</div>


</div>
</body>
</html>
