<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="de">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Embargoliste</title>
<link rel="stylesheet" href="/media/emb_styles.css" type="text/css" media="screen">
</head>
<body>
    <div id="emb_container">
        <div id="emb_header">
            <img src="/media/kopf.jpg" width="950" height="120" alt="Kopf">
              <a href='/'>Startseite</a>
            | <a href='/hintergrund-der-embargolisten/'>Hintergrund</a>
            | <a href='/technik-des-santionslistenscreenings/'>Technik</a>
            | <a href='/pruefung.html'>Suche</a>
            | <a href='http://www.cyberlogi.de/'>Impressum</a>
        </div>  
        <div id="emb_right">
            <div id="adsense">
                <script type="text/javascript"><!--
                google_ad_client = "pub-7956351025361059";
                /* 160x600, Erstellt 10.12.09 */
                google_ad_slot = "0212400152";
                google_ad_width = 160;
                google_ad_height = 600;
                //-->
                </script>
                <script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js"></script>
            </div>
            {% block right %}{% endblock %}
        </div>
        <div id="emb_content">
            {% block content %}{% endblock %}
        </div>
    </div>
</body>
</html>
