{% extends "base.html" %}

{% block content %}
<div id="emb_content">

        <div id="entity{{ entity.key.id() }}">
            <a href="{{ entity.get_url() }}">Sanktionslisteneintrag {{ entity.key.id() }}/{{ entity.legal_basis }}</a><br/>
            Anmerkung: {{ entity.remark }}<br/>
            <b>Namen</b>:
            <ul>
            {% for name in entity.names %}
                <li>{% if name.gender == "M" %}&#9794;{% endif %}
                    {% if name.gender == "F" %}&#9792;{% endif %}
                    {{ name.lastname }}
                    {{ name.firstname }}
                    {{ name.middlename }}
                    {{ name.wholename }}
                    {{ name.function }}
                    {{ name.language }}
                    {{ name.key.id }}
                </li>
            {% endfor %}
            </ul>
            {% if entity.addresses %}<b>Addressen</b>:
            <ul>
            {% for address in entity.addresses %}
                <li>{{ address.number }}
                    {{ address.street }}
                    {{ address.zipcode }}
                    {{ address.city }}
                    {{ address.country }}
                    {{ address.other }}
                </li>
            {% endfor %}
            </ul>{% endif %}
            {% if entity.births %}<b>Birth</b>:
            <ul>
            {% for birth in entity.births %}
                <li>{{ birth.date }}
                    {{ birth.place }}
                    {{ birth.country }}
                </li>
            {% endfor %}
            </ul>{% endif %}
            {% if entity.passports %}<b>Passports</b>:
            <ul>
            {% for passport in entity.passports %}
                <li>{{ passport.number }}
                    {{ passport.country }}
                </li>
            {% endfor %}
            </ul>{% endif %}
            {% if entity.citizenship %}<b>citizen</b>:
            <ul>
            {% for citizen in  entity.citizenship %}
                <li>{{ citizen.country }}
                </li>
            {% endfor %}
            </ul>{% endif %}
            Rechtsgrundlage:
            {% if entity.pdf_link %}<a href="{{ entity.pdf_link }}">
            {% endif %}{{ entity.legal_basis }}{% if entity.pdf_link %}</a>{% endif %}
            / aktualisiert am {{ entity.reg_date }}<br/>
            </div>
{% endblock %}