{% extends "base.html" %}

{% block content %}
    <h2>Das Problem</h2>
    
    <p>Alle europäischen Unternehmen es ist nach den EU-Verordnungen
    <a href='http://eur-lex.europa.eu/LexUriServ/LexUriServ.do?uri=CELEX:32001R2580:DE:NOT'>2580/2001</a>
    und <a href='http://eur-lex.europa.eu/LexUriServ/LexUriServ.do?uri=CELEX:32002R0881:DE:HTML'>881/2002</a>
    verboten mit bestimmten Organisationen und Personen Geschäfte zu machen.</p>

    <p>§ 34 Abs. 4 und 7 des Aussenwirtschaftsgesetz bedrohen entspechende Geschäfte mit erheblichen
    Strafen.</p>
    
     <p>Zoll und Finanzbhörden Prüfen nicht nur, ob entsprechende Geschåuftskontakte vorliegen, sondern auch,
    ob entsprechende Prozesse zur Verhinderung entsprechender Geschåte existieren.</p>
    
     <h2>Erhebliche Mehrbelastung</h2>
    
     <p>Vom Zoll wird inzwischen verlangt, dass mindestens vier mal im Jahr alle Geschaftskontakte anhand der
    Embargoliste überprüft werden. Geschftskontakte sind hierbei Kunden, Lieferanten, Dienstleister und
    Mitarbeiter.</p>
    
     <p>Neben der Prüfung wird auch eine Umfangreiche Dokumentation über den Prüfvorgang verlangt. Eine
    Gesetzesgrundlage für diese Forderungen ist uns nicht bekannt, aber was tut man nicht alles für sein
    Zollamt?</p>
    
     <h2>Unsere Lösung</h2>
    
     <p>Da uns alle Angebote für Software zum Abgleich mit Sanktionslisten zu komplex oder zu teuer oder
    unseriös oder wie eine Kombination aus allen dreien erschien, haben wir (<a
    href="http://www.cyberlogi.de/">Cyberlogi</a>) beschlossen, eine eiegne Software zum Abgleich mit
    Sanktionslisten zu entwickeln.</p>
    
     <p>Sie können unsere Software kostenfrei nutzen, um einzelne Namen oder ganze Namenslisten zu
    überprüfen. In Zukunft werden wir zusätzliche Dokumentationsfunktionalität einbinden.</p>


    <h2>Alternativen</h2>

    <p>Es gibt zahlreiche Softwarepakete für zahlreiche "Compliance" Anforderungen und zahlreiche 
        Preismodelle dafür. Unsere Software macht das absolute Minimum, um die EU-Verordnungen
    <a href='http://eur-lex.europa.eu/LexUriServ/LexUriServ.do?uri=CELEX:32001R2580:DE:NOT'>2580/2001</a>
    und <a href='http://eur-lex.europa.eu/LexUriServ/LexUriServ.do?uri=CELEX:32002R0881:DE:HTML'>881/2002</a>
    zu erfüllen - und nicht mehr. Wir halten wenig vom Banngemachen mit Haft- und geldstrafen gegen 
    Geschäftsführer und dergleichen.</p>

    <p>Wenn Sie mehr wollen, werden Sie bei einem der vielen anderen Anbieter von Compliance Lösungen
        bestimmt fündig. Ob sie sich nun "Sanktionslisten Software", "Embargolisten", "Sanktions-Monitor",
        "Compliance Screen", "Embargomaßnahmen-Durchsetzung" oder "Terrorismusbekämpfungs-Software" nenen.
        Hier eine Liste der uns bekannten Anbieter bzw Produkte:</p>

    <ul>
        <li><a href="http://www.argos-compliance.de/argos-compliance-antiterror.html">Argos Compliance Monitor</a></li>
        <li><a href="http://www.omikron.net/files/sanktionslisten-abgleich_mit_omikron_adresscenter.pdf">Omikron: AdressCenter</a></li>
        <li><a href="http://help.sap.com/saphelp_gts72/helpdata/de/c1/f2b24277d9cc66e10000000a1550b0/content.htm">SAP: Compliance Management</a></li>
        <li><a href="http://www.flying-cat.de/SanktionslistenPrüfung/tabid/200/Default.aspx">Flying Cat: IntegratedCheck</a></li>
        <li><a href="http://www.aeb.de/de/global-trade-solutions/compliance-loesungen/sanktionslisten-screening/index.html">AEB: Sanktionslisten-Screening</a></li>
        <li><a href="http://www.formatsoftware.de/produkte/sanktionspruefung.php">Format: Sanktionsmonitor</a></li>
        <li><a href="http://www.idprove.de/">ID.prove</a></li>
        <li><a href="http://www.domino.sapper.de/produkte/default.aspx">Sapper: Domino Denied Parties Firewall</a></li>
        <li><a href="http://www.info4c.net/">Info4C: Know Your Customer</a></li>
        <li><a href="http://www.innovations-software.com/">Innovations-Software: Compliance</a></li>
        <li><a href="http://sanktionslisten.de/">sanktionslisten.de</a></li>
        <li><a href="http://www.pst.ag/Sanktionslisten.65.0.html">PST.AG Hapo</a></li>
    </ul>
{% endblock %}

{% block right %}
    <h2>So geht's'</h2>
    
    <p>Sie können einfach direkt den Namen eines Geschäftspartners oder
        einer Organisation eingeben und bekommen direkt ein Prüfungsergebnis zurück.
    </p>
    
    Name: (z.B. "Robert Mugabe")<br/>
    <form method="GET" action="/pruefung.html">
        <input name="name"><br/>
        <input type="submit" value="testen!">
    </form>
{% endblock %}
